/* Header */
/* ADD DIFFERENT PHOTOS OF PRODUCT */
/* ADD CIRCLES TO NAVIGATE BETWEEN DIFFERENT PHOTOS */
header{
    height: 550px;
    background-color:#96B9AA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frontal-shot{
    width: 900px;
}




/* Product Information */
/* CONSIDER SHIFTING BUTTONS AND ADD TO CART FUNCTIONALITY TO BESIDE PRODUCT INFORMATION */
/* FIX FONT WEIGHTS ISSUE */

.product-and-purchase-information{
    padding: 50px 25px 25px 25px;
}

.product-and-purchase-information h1{
    color: black;
}

.product-and-purchase-information h3{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
}

.product-and-purchase-information p{
    font-size: 2rem;
}


#product-price{
    margin: 10px 0 70px 0px;
}

#product-description{
    max-width: 70vw;
    line-height: 25px;
}

#product-details-and-payment-plans-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 400px;
}

#product-details{
    font-size: 2rem;
    font-family: Circular;
    background-color: #dddddd;
    border-radius: 100px;
    border: none;
    padding: 20px 100px 20px 100px; 
}

#payment-plans{
    font-size: 2rem;
    font-family: Circular;
    background-color: #dddddd;
    border-radius: 100px;
    border: none;
    padding: 20px 100px 20px 100px; 
    margin-top: 30px;
}



/* Add to Cart Button */
/* CHANGE COLOUR OF BUTTON TO SLIGHTLY DARKER */
/* MAKE IT SUCH  THAT QUANITY AND ADD TO CART BUTTON DOES NOT SHIFT WHEN QUANTITY IS CHANGED */
/* ADD BEHAVIOUR TO BUTTON */
.add-to-cart{
    display: flex;
    border: 2px solid #d8d8d8;
    padding:15px;
    margin-top: 50px;
    width: 550px;
    justify-content: center;
    align-items: center;
}

.add-to-cart p{
    font-size: 2rem;
}

.add-to-cart span{
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.add-to-cart button{
    font-size: 2rem;
    font-family: Circular;
    color: white;
    background-color: #868686;
    border-radius: 100px;
    border: none;
    padding: 20px 100px 20px 100px; 
    margin-left: 40px;
}





/* Related Products & Recently Viewed */
/* ADD 25PX MARGIN ON RIGHT END OF SCROLL */
section {
    display: flex;
}

.related-products-section,
.recently-viewed-section {
    overflow-x: scroll;
}

/* Hides Scrollbar */
section::-webkit-scrollbar {
    display: none;
}

.product-card {
    margin-left: 25px;
}

.product-card + .product-card {
    margin-left: 60px;
}

.product-images {
    width: 200px;
    border-radius: 30px;
    background-repeat: no-repeat;
    box-shadow: -3px 3px 3px lightgrey;
}

.product-image-beige {
    background: url("Assets/Images/Background/Beige.png");
}

.product-image-blue {
    background: url("Assets/Images/Background/Blue.png");
}

.product-card-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.stock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F0F0F0;
    width: 90px;
    height: 40px;
}

.stock-icon {
    width: 20px;
    margin-right: 5px;
}

.add-to-cart-button {
    width: 50px
}







/* Footer */
/* ADJUST MARGIN BETWEEN MAIN CONTENT AND FOOTER */