/* Header */
header{
    display: flex;
    background-color: #91C1D8;
    padding: 25px;
    height: 330px;
    margin-bottom: 40px;
}

header p{
    font-size: 2rem;
    margin-top: 20px;
}

h1{
    /* Overide original margin-left set for h1 as letter "M" does not align */
    margin-left: -5px; 
    margin-top: 95px;
    color: white;
    min-width: 580px;
}

#blue-timbre-sofa{
    margin-left: 432px;
    margin-top: 30px;
    height: 280px;
}


/* Filters */
/* STYLE CHECKBOX */
/* SET MIN WIDTH FOR FILTER BOX*/

section {
    margin-right: 15px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "filters filters"
        "filters filters"
}

.filters{
    background-color: #F0F0F0 ;
    margin-left: 25px;
    margin-top: 40px;
    padding: 25px;
    grid-area: filters;
}

/* Removes styling set by the general CSS file */
.filters h2{
    margin-left: 0px;
    margin: 0px
}

.filters h3{
    font-size: 2.5rem;
    margin-top: 30px;
}

.filters h4{
    font-size: 2rem;
    color: rgb(68, 68, 68)
}

.price-range-and-checkbox{
    display: flex;
    width:150px;
    align-items: center;
    justify-content: space-between;
}



/* Sofa Product Listings
/* ADD 25PX MARGIN ON RIGHT END OF SCROLL */

.sofa-product-listings .product-card{
    width: 200px;
    height:332px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.product-images {
    width: 200px;
    border-radius: 30px;
    background-repeat: no-repeat;
    box-shadow: -3px 3px 3px lightgrey;
}

.product-image-blue {
    background: url("Assets/Images/Background/Blue.png");
}

.product-card-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.stock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F0F0F0;
    width: 90px;
    height: 40px;
}

.stock-icon {
    width: 20px;
    margin-right: 5px;
}

.add-to-cart-button {
    width: 50px
}

#show-more-functionality-container{
    margin-top: 15px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas:
        ". . text-and-button-container text-and-button-container text-and-button-container text-and-button-container";
}

#text-and-button-container{
    justify-content: center;
    align-items: center;
    grid-area: text-and-button-container;
    display: flex;
    flex-direction: column;

}

#text-and-button-container p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#text-and-button-container button{
    font-size: 2rem;
    font-family: Circular;
    background-color: #dddddd;
    border-radius: 100px;
    border: none;
    padding: 20px 100px 20px 100px;
}



/* Recently Viewed Section */
/* FIX GAPS BETWEEN CARDS, COPY AND PASTE FROM INDEX? */

.product-image-beige {
    background: url("Assets/Images/Background/Beige.png");
}

.recently-viewed-section {
    max-height:332px;
}

.recently-viewed-section .product-card {
    margin-left: 25px;
    width: 200px;
    height: 332px;
}

.recently-viewed-section-product-card + .recently-viewed-section-product-card {
    margin-left: 25px;
}


/* Footer */
footer{
    margin-top: 140px;
}